body{
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
}
.container{
    background-color: antiquewhite;
    
}
.list{
    display: flex;
    gap: 20px;
    color:white ;
    list-style-type: none;
    
}
.ten{
    margin-left: 80px;
    border: 20px;
    color: blue;
    
}