body{
   background: #352f5b !important; 
}
.container{
    max-width: 400px ;
}
input[type=text],
input[type=text]:focus{
    color: white !important;
    border: none !important;
    background: rgb(0,0,0,0.2) !important;
    
}
.todo li{
    background: #423a6f;
}
.delete{
    cursor: pointer !important;
}
.spa{
    color: white;
}